<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <title>明康汇</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="js/jquery.min.js"></script>
    <style>
        body {
            background: url(img/indexbg.jpg) no-repeat center 0;
        }
    </style>
</head>

<body youdao="bind">

<div class="indextitle"><a href="#">搜索明康全产业链 &gt;</a></div>
<div class="side">
    <a href="#"><img src="img/index_side1.png" alt=""></a>
    <a href="#"><img src="img/index_side2.png" alt=""></a>
    <a href="#"><img src="img/index_side3.png" alt=""></a>
    <a href="#"><img src="img/index_side4.png" alt=""></a>
</div>

<script src="js/header.js"></script>
<div class="header">
    <a class="logo" href="index.html" target="_self"></a>
    <ul id="nav">
        <li><a href="#">品牌故事</a>
        </li>
        <li><a href="#">关于明康</a>
            <ul class="children">
                <li><a href="#">集团简介</a>
                    <ul class="children">
                        <li><a href="#">明康汇</a></li>
                        <li><a href="h#">农业集团</a></li>
                        <li><a href="h#">海亮集团</a></li>
                    </ul>
                </li>
                <li><a href="#">品牌诠释</a>
                </li>
                <li><a href="news.html">新闻公告</a>
                </li>
            </ul>
        </li>
        <li><a href="#">全产业链</a>
            <ul class="children">
                <li><a href="#">产业链概述</a></li>
                <li><a href="#">农业基地</a></li>
                <li><a href="#">食品加工</a></li>
                <li><a href="#">质量检测</a></li>
                <li><a href="#">物流配送</a></li>
                <li><a href="#">门店</a></li>
            </ul>
        </li>
        <li><a href="#">精彩活动</a></li>
        <li><a href="exposure.html">招贤纳士</a></li>
        <li><a href="exposure.html">诚信曝光</a></li>
    </ul>
</div>

<script src="js/footer.js"></script>
<div class="footer">
    <div class="leftbar"><a class="wx" href="wx.html" target="_self">微信</a><a class="wb" href="#">微博</a><a class="app"
                                                                                                           href="app.html"
                                                                                                           target="_self">手机App</a><a
            class="web" href="http://www.hailiang.com" target="_blank">海量集团官网</a></div>
    <div class="rightbar"><a class="cur" href="#">职位招聘</a><a href="#">门店地图</a><a href="#">联系我们</a><a
            href="#">免责条款</a><span>沪ICP备08018881号    © 2003-2014 海亮集团有限公司 保留所有版权</span>
    </div>


</div>
</body>
</html>